
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
font-size: 15vh;
  }

  #map{
    position: left;
    display:inline; justify-content:left ; flex-direction:row

  }
*{

}

#footer{
    background-color: black;  
    padding-top: 5mm;
    align-items: center;
    display:flex; justify-content:center ; flex-direction:row

}



#nav-link{
     background-color: black;  
     font-size: small;  
     color: white;
}

.nav{
display: inline;
margin:0;
font-size: 15px;
color:white;
display:flex; justify-content:center ; flex-direction:row;

}

.navbar{
font-size: 2ch;
color: white;
font-family:cursive;
background-color: black;
}

.col{
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(73, 72, 72);

}
.row{
    font-size: 10ch;
    color: white;
    font-family: cursive;
    border-color: rgb(146, 144, 144);
    padding-bottom: 1ch;

}
*{
    font-family: Roboto,sans-serif;
}
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    background-color: white;
    color: #da671b;  
    text-align-last: center;
    vertical-align:center
  }


  .address{
      color:black


  }
